body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Rockwell", sans-serif; 
}

.logo-text {
    font-family: "Rockwell", serif;
    font-size: 37px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: -0.1em;
    color: #ffffff;
    text-decoration: none; 
}

.logo-text:hover {
    color: #cccccc;
    text-decoration: none;
}

.nav, .footer {
    font-family: "Rockwell", serif;
    font-size: 30px;
    letter-spacing: -0.05em;
}

.navbar, .footer {
    background-color: #000000 !important;
}

.nav-link {
    color: #fff;
    text-transform: none;
    font-weight: lighter;
    font-size: 30px;
    transition: font-weight 0.5s ease, color 0.5s ease;
}

.nav-link:hover, .logo-text:hover {
    color: #ffff50;

}

.nav-link.active {
    font-weight: bold; /* Bold for active links */
    color: #ffff50;
}

.footer {
    background-color: #000000; /* Matches the navbar background */
    color: #ffffff;
    border-top: 1px solid #cccccc; /* Optional: Light border at the top */
}

.footer .nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
    padding: 0 10px; /* Space between the links */
}

.footer .nav-link:hover {
    color: #ffff50; /* Matches the navbar hover effect */
}

.footer .logo-text {
    font-size: 30px; /* Adjust logo size for balance */
    margin: 0 15px; /* Space around the logo */
}

@media (max-width: 768px) {
    .hero {
        margin-top: 10vw;
    }
    .footer .nav {
        flex-direction: column; /* Stack navigation items vertically */
    }
    .footer .nav-item {
        margin-bottom: 10px; /* Add spacing between stacked items */
    }
}


.hero {
    background-color: #000000;
    text-align: center;
    padding-top: 8vw;
}


.hero-buttons .btn {
    margin: 0 10px;
    color: #ffffff;
}

.hero-buttons .btn:hover {
    color: #ffff50;
    background-color: #000000;
    border-color: #ffff50;
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    color: #cccccc;
}

.hero h2 {
    font-size: 1.5rem;
    color: #cccccc; /* Slightly lighter text */
    margin-bottom: 2rem;
}